:root {
    --main-padding: 10px;
    --main-gap: 20px;
    --main-gap-close: 10px;
    --main-border: 1px solid black;
    --main-border-radius: 5px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Torus Pro", "Segoe UI", sans-serif;
    /* font-family: "Quicksand", sans-serif; */
}

main {
    margin: 3vh auto;
    max-width: 1000px;
    width: calc(100% - 10vw);
    border: var(--main-border);
    border-radius: var(--main-border-radius);
    line-height: 1.3;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1rem;
    padding: var(--main-padding);
    color: #000;
    border-bottom: var(--main-border);
    position: sticky;
    top: 0;
    background-color: #fff;
    /* z-index: 100; */
}

.navbar__list {
    display: flex;
    gap: var(--main-gap);
    list-style: none;
}

.navbar__list li a {
    text-decoration: none;
    color: inherit;
}

.navbar__home {
    font-weight: 600;
}

.navbar__list li a:hover {
    text-decoration: underline;
    color: rgb(64, 64, 64);
}

.image__section {
    display: flex;
    border-bottom: var(--main-border);
}

.image__section img {
    width: 100%;
    height: auto;
}

.main {
    display: flex;
}

.main__content {
    width: 60%;
    display: flex;
    flex-direction: column;
    border-right: var(--main-border);
}

.main__title {
    padding: var(--main-padding);
}

.main__description p {
    padding: var(--main-padding);
    border-top: var(--main-border);
}

.main__links {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: var(--main-gap-close);
    padding: var(--main-padding);
    /* justify-content: center; */
}
.main__links a {
    text-decoration: none;
    color: inherit;
}
.link {
    padding: var(--main-padding);
    border: var(--main-border);
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: var(--main-gap);
    cursor: pointer;
    transition: box-shadow 0.1s, translate 0.1s;
    flex-wrap: wrap;
}
.link__icon {
    font-size: 2rem;
}
.link:hover {
    box-shadow: 4px 4px 0px black;
    translate: -2px -2px;
}
.news {
    padding: var(--main-padding);
    border-top: var(--main-border);
    display: flex;
    flex-direction: column;
    gap: var(--main-gap-close);
}
.news__index {
    border: var(--main-border);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.1s;
}
.news__index:hover {
    background-color: rgb(236, 236, 236);
}
.news__index img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.news__content {
    padding: var(--main-padding);
    display: flex;
    flex-direction: column;
    /* gap: var(--main-gap-close); */
    border-top: var(--main-border);
}
footer {
    padding: var(--main-padding);
    border-top: var(--main-border);
    text-align: center;
}

/* CSS on mobile */
@media screen and (max-width: 900px) {
    .main {
        flex-direction: column;
    }

    .main__content {
        width: 100%;
        border-right: none;
    }

    .main__links {
        width: 100%;
        border-top: var(--main-border);
    }
}

/* Scrolling */
#about-me {
    scroll-margin-top: 100px;
}
#projects {
    scroll-margin-top: 100px;
}
